@model Product;

<div data-productid="@Model.ProductId" data-stock="@ViewBag.Stock">
    <h2>Using Switch Statement</h2>
    <p>
        Product Name: @Model.Name
    </p>
    <p>
        Price: @($"{Model.Price:C}")
    </p>
    <p>
        Availability:
        @switch ((int)@ViewBag.Stock)
        {
            case 0:
                <b>Out Of Stock</b>
                break;
            case 1:
            case 2:
            case 3:
                <b>Few left in stock</b>
                break;
            default:
                <b>@ViewBag.Stock Available in Stock</b>
                break;

        }
    </p>

</div>
<div data-productid="@Model.ProductId" data-stock="@ViewBag.Stock">
    <h2>Using If Else Statement</h2>
    <p>
        Product Name: @Model.Name
    </p>
    <p>
        Price: @($"{Model.Price:C}")
    </p>
    <p>
        Availability:
        @if(ViewBag.Stock==0)
        {
            @:<b>Out of stock</b>

        }
        else if(ViewBag.Stock>0 && ViewBag.Stock<=3)
        {
            @: <b>Few left in stock</b>

        }
        else
        {
            @: <b>@ViewBag.Stock Availabale in stock</b>

        }
    </p>

</div>